.header {
    grid-area: header;
    background-color: #A7414A;
}

.wrap {
    margin: 0 auto;
    display: grid;
    height: 60px;
    align-items: center;
    grid-template-columns: 2fr 8fr 1fr 1fr;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 20px;
}
