.nav {
    grid-area: nav;
    background-color: #6A8A82;
    padding: 15px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item .activeLink {
    color: pink;
}

.friends {
    color: white;
    margin-top: 40px;
}

.myFriends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friend img {
    border-radius: 25px;
    background-color: white;
}
