.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1400px;

  grid-template-areas:
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  font-family: -apple-system, sans-serif;
  font-style: normal;
}

.app-wrapper-layout {
  grid-area: layout;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #A37C27;
}