.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: red;
}

.messages{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dialog {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dialog img {
  background-color: white;
  margin-right: 5px;
  border-radius: 30px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message div img {
  border-radius: 30px;
}

.myMessage {
  align-self: end;
}


